@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta), sans-serif;

  --z-15: 15;
  --z-25: 25;
  --z-60: 60;
  --z-65: 65;
  --z-70: 70;
  --z-80: 80;
  --z-90: 90;
  --z-100: 100;
  --z-110: 110;
  --z-max: 999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
